# Aufgabe: Einf√ºhrung in Python

1. Lesen Sie den Datensatz mit Pandas ein.

In [78]:
import pandas as pd

census = pd.read_csv('../data/Census-Datensatz.csv', sep=';', header=0, encoding='utf-8')
census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [79]:
import pandas as pd

census = pd.read_csv('../data/Census-Datensatz.csv', sep=';', header=0, encoding='utf-8')

census.rename(columns={"income": "target"}, inplace=True)

#remove not necessary colums
to_drop = [
    "occupation",
    "relationship",
    "capital-gain",
    "capital-loss",
    "native-country",
    "education",
    "workclass",
    "marital-status"
    ]
census.drop(to_drop, axis=1, inplace=True)


census.head()

   age  fnlwgt  education-num    race      sex  hours-per-week  target
0   39   77516             13   White     Male              40   <=50K
1   50   83311             13   White     Male              13   <=50K
2   38  215646              9   White     Male              40   <=50K
3   53  234721              7   Black     Male              40   <=50K
4   28  338409             13   Black   Female              40   <=50K

In [80]:
# Numerische Werte:

# SEX: Male: 1, Female: 0
census["sex"] = census["sex"].replace({' Male': 1, ' Female': 0})

# RACE: Asian-Pac-Islander: 4, White: 3, Black: 2, Amer-Indian-Eskimo: 1, Other: 0
#census["race"] = census["race"].replace({' XWhite': 3, ' Black': 2, ' Asian-Pac-Islander': 4, ' Amer-Indian-Eskimo':1, ' Other': 0})
census["race"] = census["race"].replace(regex={' XWhite': 3, ' Black': 2, ' Asian-Pac-Islander': 4, ' Amer-Indian-Eskimo':1, ' Other': 0, r'^[ A-Z,a-z].*$': -1})
# Everything not hit, is -1
#census["race"] = census["race"].replace(regex=[r'^[ A-Z,a-z].*$', 'foo'], value=-1)

# TARGET: >50K: 1, <=50K: 0
census["target"] = census["target"].replace({' >50K': 1, ' <=50K': 0})

census.head()

   age  fnlwgt  education-num  race  sex  hours-per-week  target
0   39   77516             13    -1    1              40       0
1   50   83311             13    -1    1              13       0
2   38  215646              9    -1    1              40       0
3   53  234721              7     2    1              40       0
4   28  338409             13     2    0              40       0

2. Geben Sie eine Statistische Zusammenfassung der Daten aus:

In [81]:
census.describe()

,age,fnlwgt,education-num,race,sex,hours-per-week,target
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,-0.525199,0.669205,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,1.217521,0.470506,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,-1.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,-1.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,-1.000000,1.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,-1.000000,1.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,4.000000,1.000000,99.000000,1.000000

3. Teilen Sie die Daten mittels Train-Test-Split von Sklearn in Trainings- und Testdaten:

In [82]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(census, test_size=0.2)

print('Train set shape: {}'.format(train.shape))
print('Test set shape: {}'.format(test.shape))

Train set shape: (26048, 7)
Test set shape: (6513, 7)

4. Analysieren Sie mit Numpy, ob die Features in Test- und Trainingsdatensatz sich in den Mittelwerten unterscheiden:

In [83]:
import numpy as np

def average(dataframe, feature):
    return np.mean(dataframe[feature].to_numpy())


for feature in census.columns:
    print('{}: train: {} test: {}'.format(feature, average(train, feature), average(test, feature)))

age: train: 38.58154176904177 test: 38.58206663595885
fnlwgt: train: 189812.58576474202 test: 189641.51051742668
education-num: train: 10.086071867321868 test: 10.059112544142485
race: train: -0.5329391891891891 test: -0.4942422846614463
sex: train: 0.6692644348894349 test: 0.6689697528020881
hours-per-week: train: 40.399339680589684 test: 40.58989712881928
target: train: 0.24063267813267813 test: 0.24151696606786427