# *Aufgabe: Einf√ºhrung in Python*

1. Lesen Sie den Datensatz mit Pandas ein:

In [17]:
import pandas as pd
import os

census = pd.read_csv(os.path.join("..", "data", "Census-Datensatz.csv"), sep=';', header=0, )
census.rename(columns={"income": "target"}, inplace=True)

census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
# Pop the columns:

to_drop = ["occupation", "relationship", "capital-gain", "capital-loss", "native-country", "education", "workclass", "marital-status"]
census.drop(to_drop, axis=1, inplace=True)

census.head()

   age  fnlwgt  education-num    race      sex  hours-per-week  target
0   39   77516             13   White     Male              40   <=50K
1   50   83311             13   White     Male              13   <=50K
2   38  215646              9   White     Male              40   <=50K
3   53  234721              7   Black     Male              40   <=50K
4   28  338409             13   Black   Female              40   <=50K

In [19]:
# Numerische Werte:

# SEX: Male: 1, Female: 0
census["sex"] = census["sex"].replace({' Male': 1, ' Female': 0})

# RACE: Asian-Pac-Islander: 4, White: 3, Black: 2, Amer-Indian-Eskimo: 1, Other: 0
census["race"] = census["race"].replace({' White': 3, ' Black': 2, ' Asian-Pac-Islander': 4, ' Amer-Indian-Eskimo':1, ' Other': 0})

# TARGET: >50K: 1, <=50K: 0
census["target"] = census["target"].replace({' >50K': 1, ' <=50K': 0})

census.head()

   age  fnlwgt  education-num  race  sex  hours-per-week  target
0   39   77516             13     3    1              40       0
1   50   83311             13     3    1              13       0
2   38  215646              9     3    1              40       0
3   53  234721              7     2    1              40       0
4   28  338409             13     2    0              40       0

2. Geben Sie eine Statistische Zusammenfassung der Daten aus:

In [20]:
census.describe()

,age,fnlwgt,education-num,race,sex,hours-per-week,target
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,2.891895,0.669205,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,0.478836,0.470506,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,3.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,3.000000,1.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,3.000000,1.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,4.000000,1.000000,99.000000,1.000000

3. Teilen Sie die Daten mittels Train-Test-Split von Sklearn in Trainings- und Testdaten:

In [14]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(census, test_size=0.2)

print('Train set shape: {}'.format(train.shape))
print('Test set shape: {}'.format(test.shape))

Train set shape: (26048, 5)
Test set shape: (6513, 5)

4. Analysieren Sie mit Numpy, ob die Features in Test- und Trainingsdatensatz sich in den Mittelwerten unterscheiden:

In [15]:
import numpy as np

def calculate_mean(dataframe, feat):
        return np.mean(dataframe[feat].to_numpy())

for feature in census.columns:
    print("Feature: {}, mean train: {}, mean test: {}".format(feature, calculate_mean(train, feature), calculate_mean(test, feature)))

Feature: age, mean train: 38.56921836609337, mean test: 38.63135267925687
Feature: race, mean train: 2.890125921375921, mean test: 2.898971288192845
Feature: sex, mean train: 0.6698786855036855, mean test: 0.6665131275909719
Feature: hours-per-week, mean train: 40.457040847665844, mean test: 40.359127898050055
Feature: target, mean train: 0.24001842751842753, mean test: 0.2439735912789805